@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}
body{
    background-color: #000;
    color: #fff;
}
header{
    overflow: hidden;
    z-index: 5;
    color: #fff;
    position: fixed;
    background-color: #0000009c;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    width: 100vw;
    height: 15vh;
}
.logo{
    user-select: none;
    width: 20vw;
    margin-left: 5vw;
}
.person{
    user-select: none;
    transition: all 1s;
    border-radius: 15px;
    border: 1px solid #ff0000b2;
    box-shadow: 5px 5px 50px 15px #000;
    width: 25vw;
    background-color: #0000008f;
    backdrop-filter: blur(8px);
}
.person:hover{
    width: 30vw;
    box-shadow: 5px 5px 50px 5px #ff000081;
}
.text{
    background-color: #0000000c;
    backdrop-filter: blur(2px);
    padding: 50px;
    border-radius: 15px;
    width: 40vw;
}
.text h1{
    font-size: 2.5rem;
}
.styleSpan{
    animation: Colorspan 10s infinite alternate-reverse ease-in-out;
}

@keyframes Colorspan {
    0%{
        color: #f00;
    text-shadow: 0 0 5px #000;
    }
    50%{
        color: #fff;
    text-shadow: 0 0 5px #f00;

    }
    100%{
    color: #000;
    text-shadow: 0 0 5px #f00;
    }
}

.divBtn{
    margin-left: auto;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.btnLink{
    font-size: 1.3vw;
    cursor: pointer;
    background: none;
    border: #f00 1px  solid;
    color: #fff;
    width: 10vw;
    height: 6vh;
    transition: all 1s;
}
.btnLink:hover{
    background-color: #fd000052;
    border: #fff 1px  solid;
    backdrop-filter: blur(30px);
    font-size: 1rem;
    width: 15vw;
    height: 6vh;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 90vh;
    width: 100vw;
    background-image: url("imgs/main-background.jpg");
    background-size: cover;
}
.divProjects{
    padding-top: 5vw;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projectText{
    text-align: center;
    width: 70vw;
}
.project{
    gap: 2vw;
    margin-top: 5vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textProject{
    width: 35vw;
}
.projects-images{
    width: fit-content;
}
.imgProject{
    user-select: none;
    width: 50vw;
    border-radius: 15px;
    border: 1px solid #ff0000b2;
}


@media(max-width: 720px){
    .logo{
        width: 30vw;
        margin-left: 5vw;
    }
    .divBtn{
        margin-left: auto;
        padding: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .btnLink{
        font-size: 2vw;
        cursor: pointer;
        background: none;
        border: #f00 1px  solid;
        color: #fff;
        width: 13vw;
        height: 6vh;
        transition: all 1s;
    }
    .person{
        transition: all 1s;
        border-radius: 15px;
        border: 1px solid #ff0000b2;
        box-shadow: 5px 5px 50px 15px #000;
        width: 30vw;
        background-color: #0000008f;
        backdrop-filter: blur(8px);
        margin-left: 5vw;
    }
    .person:hover{
        width: 30vw;
        box-shadow: 5px 5px 50px 5px #ff000081;
    }
}
.aboutMe{
    margin-top: 5vw;
    width: 100VW;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutMe p {
    width: 80vw;
    text-align: justify;
}
.aboutMe h1 {
    text-align: center;
}